@import "tailwindcss";

@font-face {
  font-family: merriweatherBold;
  src: url("/assets/fonts/Merriweather-Bold.woff");
}

@font-face {
  font-family: merriweatherLight;
  src: url("/assets/fonts/Merriweather-Light.ttf");
}

@font-face {
  font-family: consolas;
  src: url("/assets/fonts/consolas.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #56a8ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-merriweatherBold: merriweatherBold
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.api {
  font-family: consolas;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.description {
  font-family: merriweatherLight;
}

.email {
  color: var(--primary-color)
}